<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF_Lib</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="body_index">
    <a href="/templates/main/index.html" class="retornar_login"><i class="bi bi-arrow-left"></i></a>
    <div class="conteudo_login">
        <hr class="listra_login">
        <div class="conteudo_login_lateral">
            <img src="/styles/icones/Logo IF_Lib.png" alt="logo IF_Lib" class="img_login">
            <div>
                <h2 class="legenda_if">Instituto Federal</h2>
                <h2 class="legenda_if">Sistema Centralizado de Conteúdos Acadêmicos Lib</h2>
            </div>
            <div class="div_legenda_if_2">
                <h1 class="legenda_if_2">Um sistema desenvolvido</h1>
                <h1 class="legenda_if_2">para nos conectarmos</h1>
                <h1 class="legenda_if_2">através do conhecimento</h1>
            </div>
        </div>
        <form class="form_login">
            <h1 class="titulo_login">Login</h1>
            <div class="inputs_login">
                <label class="label_login">E-mail</label>
                <input class="input_form_login">
            </div>
            <div class="inputs_login">
                <label class="label_login">Senha</label>
                <input class="input_form_login">
            </div>
            <a href="/templates/usuarios/admin/admin_instituicoes.html" class="botao_form_login">ADMIN</a>
            <a href="/templates/usuarios/bibliotecario/bibliotecario_cad_prof.html" class="botao_form_login">Bibliotecário</a>
            <a href="/templates/usuarios/admin/admin_instituicoes.html" class="botao_form_login">ADMIN</a>
            <a href="/templates/usuarios/admin/admin_instituicoes.html" class="botao_form_login">ADMIN</a>
            <a href="#" class="duvida_login">Possui alguma duvida?</a>
        </form>
    </div>
</body>
</html>