<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF_Lib</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/styles/style_conteudo.css">
</head>
<body class="body_perfil_adm">
    <header class="cabecalho">
        
        <input type="checkbox" id="menu" class="botao_menu_lateral">
        <label class="menu_lateral" for="menu">
            <i class="bi bi-list"></i>
        </label>
        <nav  class="lista_menu_lateral">
            <label class="menu_lateral_retornar" for="menu">
                
            </label>
            <ul>
                <li class="opcao_menu_lateral">
                    <h1 class="filter_conteudo">Filtros<i class="bi bi-funnel"></i></h1>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Categorias <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/categorias.html" class="filtro_menu">Tecnologia</a></li>
                        <li><a href="#" class="filtro_menu">Saúde</a></li>
                        <li><a href="#" class="filtro_menu">Agro</a></li>
                        <li><a href="#" class="filtro_menu">Educação</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Tipos <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/tipos.html" class="filtro_menu">Artigo Cientifíco</a></li>
                        <li><a href="#" class="filtro_menu">Projeto de Pesquisa</a></li>
                        <li><a href="#" class="filtro_menu">Monográfia</a></li>
                        <li><a href="#" class="filtro_menu">Conteúdo Externo</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Instituições <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/instituicoes.html" class="filtro_menu">IFTO</a></li>
                        <li><a href="#" class="filtro_menu">IFPA</a></li>
                        <li><a href="#" class="filtro_menu">IFGO</a></li>
                        <li><a href="#" class="filtro_menu">IFSC</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Campus <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/campus.html" class="filtro_menu">Campus 1 Colinas TO</a></li>
                        <li><a href="#" class="filtro_menu">Campus 1 Araguaina TO</a></li>
                        <li><a href="#" class="filtro_menu">Campus 1 Goiania GO</a></li>
                        <li><a href="#" class="filtro_menu">Campus 1 Belém PA</a></li>
                    </ul>
                </li>
                <li class="opcao_menu_lateral"><a href="#" class="link_menu_lateral" id="opcao_menu_lateral">Cursos <i class="bi bi-caret-right"></i></a>
                    <ul class="filtros_menu_lateral">
                        <hr class="linha_menu_lateral">
                        <li><a href="/templates/filtros/cursos.html" class="filtro_menu">ADS</a></li>
                        <li><a href="#" class="filtro_menu">Pedagogia</a></li>
                        <li><a href="#" class="filtro_menu">Agronomia</a></li>
                        <li><a href="#" class="filtro_menu">Direito</a></li>
                    </ul>
                </li>
            </ul>
        </nav>  

        <a href="/templates/main/index.html" class="botao_home">
            <img src="/styles/icones/Logo IF_Lib.png" class="img_home">
        </a>
        
        <form class="busca">
            <input type="search" class="input_busca" placeholder="   Oque você procura?">
            <a href="/templates/pesquisa/pesquisa.html" class="botao_busca"><i class="bi bi-search"></i></a>
        </form>

        <ul class="botoes_cabecalho">
            <a href="#">
                <li class="botao_cabecalho botao_ver" style="--cor1: #5e0000; --cor2: #d40000; border-color: #af0a0a;">
                    <span class="icones icone_fav"><i class="bi bi-star"></i></span>
                    <span class="texto">Favoritos</span>
                </li>
            </a>
            <a href="/templates/notificacoes/notificacao.html">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-envelope"></i></span>
                    <span class="texto">Notificações</span>
                </li>
            </a>
            <a href="/templates/main/login.html">
                <li class="botao_cabecalho botao_verde" style="--cor1: #005112; --cor2: #06EA37;">
                    <span class="icones"><i class="bi bi-person"></i></span>
                    <span class="texto">Perfil</span>
                </li>
            </a>
        </ul>
    </header>
    <main class="main_user">
        <h1 class="titulo_pag_caixa">Novo Conteúdo</h1>
        <form class="form_cad_cont">
            <div class="form_cad_part">
                <div class="form_cad_cont_part">
                    <div class="infor_cad_part">
                        <h1 class="titulo_form num_ti">1</h1>
                        <h1 class="titulo_form">Informações iniciais</h1>
                    </div>
                    <div class="div_input">
                        <label>Título*</label>
                        <input class="input_cad">
                    </div>
                    <div class="div_input">
                        <label>Instituição*</label>
                        <select class="input_cad">
                            <option>Instituição</option>
                            <option>IFTO</option>
                            <option>IFTO</option>
                        </select>
                    </div>
                    <div class="div_input">
                        <label>Campus*</label>
                        <select class="input_cad">
                            <option>Campus</option>
                            <option>IFTO - Colinas Campus 1</option>
                            <option>IFTO - Colinas Campus 1</option>
                        </select>
                    </div>
                    <div class="div_input">
                        <label>Curso*</label>
                        <select class="input_cad">
                            <option>Curso</option>
                            <option>ADS</option>
                            <option>ADS</option>
                        </select>
                    </div>
                    <div class="div_input">
                        <label>Categoria*</label>
                        <select class="input_cad">
                            <option>Categoria</option>
                            <option>Tecnologia</option>
                            <option>Tecnologia</option>
                        </select>
                    </div>
                    <div class="div_input">
                        <label>Tipo*</label>
                        <select class="input_cad">
                            <option>Tipo</option>
                            <option>TCC</option>
                            <option>TCC</option>
                        </select>
                    </div>
                </div>

                <div class="form_cad_cont_part">
                    <div class="infor_cad_part">
                        <h1 class="titulo_form num_ti">2</h1>
                        <h1 class="titulo_form">Autores e Tutor</h1>
                    </div>
                    <div class="div_input">
                        <label>Professor Tutor*</label>
                        <input class="input_cad">
                    </div>
                    <div class="div_input">
                        <label>Autor 01*</label>
                        <input class="input_cad">
                    </div>
                    <div class="div_input">
                        <label>Autor 02</label>
                        <input class="input_cad">
                    </div>
                    <div class="div_input">
                        <label>Autor 03</label>
                        <input class="input_cad">
                    </div>
                    <div class="div_input">
                        <label>Autor 04</label>
                        <input class="input_cad">
                    </div>
                    <div class="div_input">
                        <label>Autor 05</label>
                        <input class="input_cad">
                    </div>
                </div>
            </div>

            <div class="form_cad_cont_part">
                <div class="infor_cad_part">
                    <h1 class="titulo_form num_ti">3</h1>
                    <h1 class="titulo_form">Textos do Conteúdo</h1>
                </div>
                <div class="div_input">
                    <label>Descriçãor*</label>
                    <input class="input_cad input_text">
                </div>
                <div class="div_input">
                    <label>Texto*</label>
                    <input type="text" class="input_cad input_text texto_input">
                </div>
            </div>

            <div class="form_cad_cont_part form_adc">
                <div class="infor_cad_part">
                    <h1 class="titulo_form num_ti">4</h1>
                    <h1 class="titulo_form">Imagens</h1>
                </div>
                <div class="imagens_cad_cont">
                    <img src="/styles/imagens/images.jpg" class="img_cad_cont">
                    <img src="/styles/imagens/tecnologia-da-informacao-890x500-1-1.jpg" class="img_cad_cont">
                    <img src="/styles/imagens/download.jpg" class="img_cad_cont">
                    <img src="/styles/imagens/Design_sem_nome_-_2023-04-08T085907.874-1024x768.jpg" class="img_cad_cont">
                    <img src="/styles/imagens/1714960261525.jpg" class="img_cad_cont">
                    <img src="/styles/imagens/65mrqwxt9ube1.webp" class="img_cad_cont">

                    <a href="#" class="adc_mais"><i class="bi bi-plus"></i></a>
                </div>    
            </div>

            <div class="form_cad_cont_part form_adc">
                <div class="infor_cad_part">
                    <h1 class="titulo_form num_ti">5</h1>
                    <h1 class="titulo_form">Conteúdos Adicionais</h1>
                </div>
                <div class="imagens_cad_cont">
                    <a href="#" class="adc_mais cont_extra"><i class="bi bi-file-earmark-check"></i></a>
                    <a href="#" class="adc_mais cont_extra"><i class="bi bi-file-earmark-check"></i></a>
                    <a href="#" class="adc_mais cont_extra"><i class="bi bi-file-earmark-check"></i></a>
                    <a href="#" class="adc_mais cont_extra"><i class="bi bi-file-earmark-check"></i></a>

                    <a href="#" class="adc_mais"><i class="bi bi-plus"></i></a>
                </div>    
            </div>

            <div class="form_cad_cont_part form_adc">
                <div class="infor_cad_part">
                    <h1 class="titulo_form num_ti">6</h1>
                    <h1 class="titulo_form">Referencias</h1>
                </div>
                <div class="div_input">
                    <label>Referencias*</label>
                    <input class="input_cad input_text">
                </div>   
            </div>

            <div class="form_confirm">
                <button class="bota_cad_cont enviar_cont">Enviar</button>
                <button class="bota_cad_cont cancelar_cont">Cancelar</button>
            </div>

        </form>

    </main>
    <footer class="rodape_pag">
        <img src="/styles/icones/Logo IF_Lib.png" alt="logo IF_Lib" class="img_rodape_pag">
        <ul class="lista_rodape_pag">
            <li><a href="#" class="link_rodape link_pag">Contato</a></li>
            <li><a href="#" class="link_rodape link_pag">Sobre</a></li>
            <li><a href="#" class="link_rodape link_pag">Politicas de Privacidade</a></li>
            <li><a href="#" class="link_rodape link_pag">Mais informações</a></li>
        </ul>
    </footer>

    <script src="/scripts.js/app.js"></script>
</body>
</html>