@import url(style.css);
@import url(style_card.css);
@import url(style_user_adm.css);



.conteudo_filtros{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infor_filtro{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.titulo_filtro{
    font-family: var(--fonte1);
    color: var(--verde1);
    font-size: 3em;
    font-weight: 400;
    margin-left: 20px;
}

.descricao_filtro{
    font-family: var(--fonte1);
    color: var(--cinza1);
    font-size: 1em;
    font-weight: 300;
    padding: 20px;
}

.descricao_filtro_2{
    font-family: var(--fonte1);
    color: var(--cinza1);
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.desc{
    color: var(--verde1);
}

.curso_inst{
    color: var(--cinza1);
}

.curso_inst:hover{
    color: var(--branco);
}

.curso_inst:active{
    color: var(--cinza1);
}

.linha_categoria{
    width: 95%;
    height: 1px;
    background-color: var(--verde1);
    border: none;
    margin-top: 20px;
    margin-left: 2.5%;
}

.opcoes_filtros{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
}

.opcoes_sub_filtros{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
}

.titulo_ordem{
    font-family: var(--fonte1);
    color: var(--branco);
    font-size: 1em;
    font-weight: 400;
}

.ordem_filtros{
    font-family: var(--fonte1);
    color: var(--cinza1);
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300;
}

.ordem_filtros:hover{
    color: var(--branco);
    text-decoration: underline;
}

.ordem_selecionada{
    text-decoration:underline;
}

.lista_conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    margin-top: 20px;
}

.mais_conteudos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    font-family: var(--fonte1);
    font-size: 8px;
    color: var(--cinza1);
}

.mais_conteudos_botao{
    color: var(--cinza1);
    font-family: var(--fonte1);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.mais_conteudos_botao:hover{
    color: var(--branco);
}

.pesquisa{
    color: var(--cinza1);
    font-family: var(--fonte1);
    font-size: 2em;
    font-weight: 400;
}

.resul_pesquisa{
    font-weight: 400;
    color: var(--verde1);
}

.div_pesquisa{
    display: flex;
    justify-content: center;
    padding: 32px;
}

.opcoes_sub_pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 20px;
}